MONGODB_URI=mongodb+srv://phangpaoho789:159357258az@cluster0.rp8mhnp.mongodb.net/vrc?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=ai-law
OPENAI_API_KEY=sk-...Tj4A
MODEL_PROVIDER=openai
CHAT_MODEL=gpt-4o-mini
EMBED_MODEL=text-embedding-3-small
PORT=5000
